{% extends 'main/base.html' %}
{% load static %}
{% block extra_head %}
{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' class='primary-button'>Changer</button>
    </form>
    {% if form.errors %}
        <div class="form-errors">
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors }}</li>
                    {% endif %}
                {% endfor %}
                {% if form.non_field_errors %}
                    <li>{{ form.non_field_errors }}</li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}