{% extends "main/base.html" %}


{% block content %}
<div class="container mx-auto px-4 py-8 max-w-4xl">
    <!-- En-tête du métabolite -->
    <div class="bg-white rounded-lg shadow-lg p-6 mb-8">
        <h1 class="text-3xl font-bold text-center text-green-700 mb-4">
            <span>
                <i class="fa-solid fa-flask-vial mr-2"></i>
            </span>
            <span class="">
                {{ metabolite.name }}
            </span>
        </h1>
        <div class="text-center">
            <span class="inline-flex items-center px-3 py-1 rounded-full {% if metabolite.is_ubiquitous %}bg-green-100 text-green-800{% else %}bg-gray-100 text-gray-800{% endif %}">
                {% if metabolite.is_ubiquitous %}Ubiquitaire{% else %}Non ubiquitaire{% endif %}
            </span>
        </div>
        <div class="flex gap-8 justify-center items-center py-5">
            <div class="flex flex-col gap-2 text-center">
                <span class="text-sm text-gray-500">Nombre de plantes</span>
                <span class="text-2xl font-bold">{{ metabolite.plants.count }}</span>
            </div>
            <div class="flex flex-col gap-2 text-center">
                <span class="text-sm text-gray-500">Nombre d'activités</span>
                <span class="text-2xl font-bold">{{ metabolite.activities.count }}</span>
            </div>
        </div>
    </div>

    <!-- Section Activités -->
    <div class="bg-white rounded-lg shadow-lg p-6 mb-8">
        <h2 class="text-2xl font-bold text-green-700 mb-6 flex items-center">
           <span>
            <i class="fa-solid fa-microscope mr-2"></i>
           </span>
            Activités
        </h2>
        <div class="grid gap-4">
            {% for activity in activities %}
            <a href="{% url 'activity_detail' activity.activity.id %}">
            <div class="border rounded-lg p-4 hover:bg-gray-50 transition-colors">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <div class="flex items-center">
                        <span class="font-semibold text-gray-700">Type:</span>
                        <span class="ml-2 text-gray-600">{{ activity.activity.name }}</span>
                    </div>
                    <div class="flex items-center">
                        <span class="font-semibold text-gray-700">Dosage:</span>
                        <span class="ml-2 text-gray-600">{{ activity.dosage }}</span>
                    </div>
                    <div class="flex items-center">
                        <span class="font-semibold text-gray-700">Référence:</span>
                        <span class="ml-2 text-green-600 hover:text-green-800 line-clamp-1">{{ activity.reference }}</span>
                    </div>
                </div>
            </div>
            </a>
            {% empty %}
            <p class="text-gray-500 text-center italic">Aucune activité enregistrée</p>
            {% endfor %}

            <!-- PAGINATION -->
             {% if activities_page_count > 1 %}
            <div class="mt-6 flex justify-center">
                <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                    {% if activities.has_previous %}
                        <a href="?activities_page=1" class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                            Première
                        </a>
                        <a href="?activities_page={{ activities.previous_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                            Précédente
                        </a>
                    {% endif %}
                    
                    <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-green-600 text-sm font-medium text-white">
                        Page {{ activities.number }} sur {{ activities.paginator.num_pages }}
                    </span>
                    
                    {% if activities.has_next %}
                        <a href="?activities_page={{ activities.next_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">   
                            Suivante
                        </a>
                        <a href="?activities_page={{ activities.paginator.num_pages }}" class="relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                            Dernière
                        </a>
                    {% endif %}
                </nav>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Section Plantes -->
    <div class="bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-2xl font-bold text-green-700 mb-6 flex items-center">
            <span>
                <i class="fa-solid fa-leaf mr-2"></i>
            </span>
            Plantes
        </h2>
        <div class="overflow-x-auto">
            <table class="min-w-full table-auto">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Plante</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Partie</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Min</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Max</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Écart-type</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Référence</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for plant in plants %}
                    <tr class="hover:bg-gray-50">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-green-600 hover:text-green-800 cursor-pointer">
                            <a href="{% url 'plant_detail' plant.plant_id %}">
                                <span class="text-gray-600 text-xs font-light">{{ forloop.counter|add:plants_start_number }}.</span> 
                                <span class="text-green-600">{{ plant.plant_name }}</span>
                            </a>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ plant.plant_part }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ plant.low }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ plant.high }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ plant.deviation }}</td>
                        <td class="px-6 py-4 text-wrap text-sm text-green-600 hover:text-green-800 line-clamp-1">
                            <span class="truncate block" title="{{ plant.reference }}">{{ plant.reference }}</span>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="px-6 py-4 text-center text-gray-500 italic">Aucune plante enregistrée</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- PAGINATION -->
        {% if plants_page_count > 1 %}
        <div class="mt-6 flex justify-center">
            <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                {% if plants.has_previous %}
                    <a href="?plants_page=1" class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                        Première
                    </a>
                    <a href="?plants_page={{ plants.previous_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                        Précédente
                    </a>
                {% endif %}
                <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-green-600 text-sm font-medium text-white">
                    Page {{ plants.number }} sur {{ plants.paginator.num_pages }}
                </span>
                {% if plants.has_next %}
                    <a href="?plants_page={{ plants.next_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                        Suivante
                    </a>
                    <a href="?plants_page={{ plants.paginator.num_pages }}" class="relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                        Dernière
                    </a>
                {% endif %}
            </nav>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

